.yes p{
    display: inline-block;
    font-weight: bold;
    margin-left:10px;
}
.yes{
    border: 1px solid black;
}
a{
    text-decoration: none; 
}
a:hover{
    color: red;
}
h1{
    border: 1px solid blueviolet;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 4px green;
}
p{
    
}